<video
    #videoTrack
    autoplay
    [muted]="muted"
    playsinline
    [ngClass]="{ 'horizontal-flip-video': mirrorVideoStream }"
    class="rounded w-full h-full object-contain"
    style="
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        visibility: visible;
        background-color: #000000;
        aspect-ratio: 16/9;
    "
    (loadedmetadata)="onVideoLoadedMetadata($event)"
    (canplay)="onVideoCanPlay($event)"
    (playing)="onVideoPlaying($event)"></video>
<audio #audioTrack autoplay [muted]="muted"></audio>
